@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    /*Cores primárias */
    --cinza-claro: hsl(225, 100%, 94%);
    --roxo: hsl(245, 75%, 52%);

    /*cores secundárias */
    --branco: hsl(225, 100%, 98%);
    --roxo-claro: hsl(224, 23%, 55%);
    --azul: hsl(223, 47%, 23%);

    --cinza-botao: hsl(221, 76%, 95%);

    --font: "Red Hat Display";
}

*{
    font-family: var(--font);
}

body{ 
    background-image: url(img/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--cinza-claro);
    background-size: 100vw;
}

header, .apresentacao__plano{
    display: flex;
    flex-direction: column;
}

header{
    width: 25vw;
}

.imagem__topo{
    border-radius: 20px 20px 0 0;
}

.apresentacao__plano{
    background-color: var(--branco);
    width: 25vw;
    height: 40vh;

    border-radius: 0 0 20px 20px;

    padding-top: 4vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font);
    font-size: 22px;
    font-weight: 900;
}

.apresentacao__plano__texto{
    font-family: var(--font);
    font-size: 16px;
    color: var(--roxo-claro);

    width: 32vh;

    display: flex;
    text-align: center;
    align-self: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.plano{
    background-color: var(--cinza-botao);
    width: 23vw;
    height: 9vh;

    display: flex;
    align-self: center;
}

.conjunto{
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    text-align: center;
}

.valor__plano{
    margin-left: 10%;
    line-height: 2.5vh;
}

.tipo__plano{
    font-weight: 700;
}

.valor__plano__anual{
    color: var(--roxo-claro);

}

.troca__plano{
    text-decoration: none;
    color: var(--roxo);
    margin-right: 5%;
}

.plano{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagamento{
    background-color: var(--roxo);
    width: 23vw;
    height: 5vh;
    border-radius: 7px;
    margin-top: 3vh;
    
    display: flex;
    justify-content: center;
 
    align-self: center;
    align-items: center;

    color: var(--branco);
    text-decoration: none;
}

.pagamento__texto{
    display: flex;
    align-self: center;

    font-weight: 700;
}

.cancelar__pedido{
    color: var(--roxo-claro);
    font-weight: 700;
    text-decoration: none;

    display: flex;
    align-self: center;
    margin-top: 7%;
}

